<!doctype html>
<html lang="zh_CN">
<head>
    <title>可视化数据-留言</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://fonts.googleapis.com/css2?family=Jost:wght@400;700;900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="static/asstes/fonts/icomoon/style.css">

    <link rel="stylesheet" href="static/asstes/css/bootstrap/bootstrap.css">
    <link rel="stylesheet" href="static/asstes/css/jquery-ui.css">
    <link rel="stylesheet" href="static/asstes/css/owl.carousel.min.css">
    <link rel="stylesheet" href="static/asstes/css/owl.theme.default.min.css">
    <link rel="stylesheet" href="static/asstes/css/owl.theme.default.min.css">

    <link rel="stylesheet" href="static/asstes/css/jquery.fancybox.min.css">

    <link rel="stylesheet" href="static/asstes/css/bootstrap-datepicker.css">

    <link rel="stylesheet" href="static/asstes/fonts/flaticon/font/flaticon.css">

    <link rel="stylesheet" href="static/asstes/css/aos.css">

    <link rel="stylesheet" href="static/asstes/css/style.css">

</head>
<body data-spy="scroll" data-target=".site-navbar-target" data-offset="300" style="background: rgba(82,162,215,0.53)">


<div id="overlayer"></div>
<div class="loader">
    <div class="spinner-border text-primary" role="status">
        <span class="sr-only">Loading...</span>
    </div>
</div>


<div class="site-wrap">

    <div class="site-mobile-menu site-navbar-target">
        <div class="site-mobile-menu-header">
            <div class="site-mobile-menu-close mt-3">
                <span class="icon-close2 js-menu-toggle"></span>
            </div>
        </div>
        <div class="site-mobile-menu-body"></div>
    </div>

    <header class="site-navbar py-4 js-sticky-header site-navbar-target" role="banner">

        <div class="container">
            <div class="row align-items-center justify-content-center">

                <div class="col-4">
                    <h1 class="m-0 site-logo"><a href="index.html">Visual Data</a></h1>
                </div>

                <div class="col-8">
                    <nav class="site-navigation position-relative text-right" role="navigation">
                        <ul class="site-menu main-menu js-clone-nav mr-auto d-none d-lg-block">
                            <li><a href="/" class="nav-link">主页</a></li>
                            <li><a href="/infor" class="nav-link">信息</a></li>
                            <li><a href="/rate" class="nav-link">评分</a></li>
                            <li><a href="/word" class="nav-link">词云</a></li>
                             <li><a href="/inmsg" class="nav-link">留言</a></li>
                            <li><a href="/team" class="nav-link">关于</a></li>
                        </ul>
                    </nav>


                    <a href="#" class="d-inline-block d-lg-none site-menu-toggle js-menu-toggle float-right"><span
                            class="icon-menu h3"></span></a>

                </div>


            </div>
        </div>

    </header>


    <div class="site-section" id="services-section">
        <div class="container">
            <div class="row ">
                <div class="col-12 mb-5 position-relative">
                    <h2 class="section-title text-center mb-5">留言墙</h2>
                </div>
                <p data-aos="fade-up" data-aos-delay="200" style="width:100%;text-align: center;">
                    <style type="text/css">
                        .btn {
                            margin-top: 15px
                        }

                        {# ↑↑↑↑  按钮上下间隔 ↑↑↑↑ #}
                    </style>
                                <div style="text-align: center;width: 100%;">
                <p data-aos="fade-up" data-aos-delay="200" style="">
                    <a href="/" class="btn smoothscroll btn-primary">首页</a>
                    <a href="/infor" class="btn smoothscroll btn-primary">信息</a>
                    <a href="/rate" class="btn smoothscroll btn-primary">评分</a>
                    <a href="/word" class="btn smoothscroll btn-primary">词云</a>
                    <a href="/team" class="btn smoothscroll btn-primary">关于</a>
            </p>
                </div>

                {# 循环语句#}
                {% for v in smsg %}
                    <div class="col-md-6 mb-4" data-aos="fade-up" data-aos-delay="">

                            <div class="service d-flex h-100">
                                <div class="svg-icon">
                                    {# 楼层#}
                                    <p>{{ v[0] }}楼</p>
                                </div>
                                <div class="service-about">
                                    {# 用户名#}
                                    <h3>{{ v[1] }}</h3>
                                    {# 留言内容#}
                                    <p>{{ v[3] }}</p>
                                    {#留言时间#}
                                    <p style="font-size: 10px">留言于：{{ v[4] }}</p>

                                </div>
                            </div>

                    </div>
                {% endfor %}


            </div>
            <!-- .site-wrap -->
            <div class="col-12 text-center" style="margin-bottom: 350px">
                <p>
                    <!-- Link back to cssmoban can't be removed. Template is licensed under CC BY 3.0. -->
                    Copyright &copy;
                    <script>
                        document.write(new Date().getFullYear());
                    </script>
                    All rights reserved | <i class="icon-heart"
                                             aria-hidden="true"></i> by yzyyz.top
                    <!-- Link back to cssmoban can't be removed. Template is licensed under CC BY 3.0. -->
                </p>
            </div>

            {# 判断表单是否有空项 #}
            <script type="text/javascript">
                function myCheck() {
                    for (var i = 0; i < document.msgform.elements.length - 1; i++) {
                        if (document.msgform.elements[i].value == "") {
                            alert("留言信息不能有空项哦~~");
                            document.msgform.elements[i].focus();
                            return false;
                        }
                    }
                    return true;

                }
            </script>

            <div class="inputmsg"
                 style="position: fixed;bottom: 0;left: 0;z-index: 999999;width: 100%;height: 250px;background: rgb(56,152,252)">
                <form method="post" action="{{ url_for('msg') }}" class="msgform" name="msgform"
                      onSubmit="return myCheck()">
                    <div style="margin: 25px" class="form-group">
                        <input type="text" name="username" placeholder="输入昵称" minlength="2" maxlength="10" class="form-control"
                               id="username" style="margin: 10px;"/>
                        <input type="email" name="email" placeholder="输入邮箱" class="form-control" id="email"
                               style="margin: 10px;"/>
                        <input type="text" name="messg" placeholder="说点什么吧~~" minlength="5" maxlength="100" class="form-control"
                               id="messg" style="margin: 10px;height: 50px"/>
                        <div style="text-align: center">
                            <input class="btn btn-primary" type="submit" value="提交"
                                   onclick="isEmpty()"/>
                        </div>
                    </div>


                </form>

            </div>
            <script src="static/asstes/js/jquery-3.3.1.min.js"></script>
            <script src="static/asstes/js/jquery-ui.js"></script>
            <script src="static/asstes/js/popper.min.js"></script>
            <script src="static/asstes/js/bootstrap.min.js"></script>
            <script src="static/asstes/js/owl.carousel.min.js"></script>
            <script src="static/asstes/js/jquery.easing.1.3.js"></script>
            <script src="static/asstes/js/aos.js"></script>
            <script src="static/asstes/js/jquery.fancybox.min.js"></script>
            <script src="static/asstes/js/jquery.sticky.js"></script>
            <script src="static/asstes/js/isotope.pkgd.min.js"></script>


            <script src="static/asstes/js/main.js"></script>
        </div>
    </div>
</div>
</body>
</html>